<div class="topnav p-3" align="right">
		{{user.first_name}} {{user.last_name}}
    <a href="/home"><button class="btn btn-primary" type="button">Home</button></a>
    <button class="btn btn-primary" type="button">Profile</button>
    <a href="/create-event"><button class="btn btn-primary" type="button">Create Event</button></a>
	<input type="button" value="Log Out" class="btn" , onclick="document.location.href='/logout'" />
</div>

		<form>
			<div class="container p-5">
				<div class="row">
						<input type="text" class="form-control col-sm-11" type="search" placeholder="Search" align="center" name="search">
						<button class="btn-outline-secondary col-sm-1" type="submit">Search</button>
				</div>
			</div>
		</form>


<div class="container">
	<div class="row">
		<div class="col-md-11">
			{{!-- <div class="container">
				<div class="row">
					<div class="col"> --}}
						<table style="width:100%" id="eventTable" border="1" class="table">
							<tr>
								<th>Created Events</th>
							</tr>
							{{#each values}}
							<tr>
								<td>{{this.title}}</td>
								<td>
									<form id="{{this.id}}"><button type="button" onClick="viewRow(this)">View</button></form>
								</td>
							</tr>
							{{/each}}
						</table>
					{{!-- </div>
				</div>
			</div> --}}
		</div>
	</div>
</div>

<div class="container">
	<h6 align="left">Filter by Location</h6>
	<form align="left">
	<label>City</label>
	<input type="text" name="city"><br>
	<label>State</label>
	<input type="text" name="state"><br>
	<input type="submit" value="Filter">
	</form>	
</div>

<script type="text/javascript" src="/table.js"></script>
