<div class="container">
	<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
		<a class="navbar-brand" href="/home">Looking For Group</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="/home">Home</a>
				</li>
			</ul>
		</div>
	</nav>
</div>

<div class="text-center container p-5">
	<form action="/login" method="post">
		<div>
			<label>Email:
				<input type="text" name="email" class="form-control"/></label>
		</div>
		<div>
			<label>Password:
			<input type="password" name="password" class="form-control" /></label>	
		</div>
		<div>
			<input type="submit" class="btn btn-primary" value="Log In" />
		</div>
	</form>
	<div>
		Need an account? <a href="/registration">Sign Up Here!</a>
	</div>
</div>